flask
flask-sqlalchemy
flask-login
python-dotenv
openai
azure-storage-blob
azure-ai-vision-imageanalysis
azure-communication-sms
azure-core
azure-search-documents
requests
gunicorn
flask-cors
uvicorn
